
<ion-content [fullscreen]="false" class="home-content">
  <ion-grid>
    <ion-row class="home-main-layout">
      <ion-col> <p>Welcome to our website! We are dedicated to providing high-quality services tailored to meet your needs. Whether you're looking for expert consultation, innovative solutions, or reliable support, our team is here to help. Explore our site to learn more about what we offer and how we can assist you in achieving your goals.

</p></ion-col>
      <ion-col>img</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
