
// ion-content {
//   --background: #f2f1eb;
//    padding-top: 196px; 

// }

// #main-content{
// //  padding-top: 196px; 
// }

.home-content {
  --background: #f2f1eb;
}


.home-main-layout{
  height: 60%;
  background: #4d4209;
}